* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

#nav {
  position: absolute;
  display: block;
  top: 2.5em;
  left: 0;
  width: 100%;
  text-align: center;
}

#nav .nav-border {
  display: inline-block;
  border-radius: 0.35em;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
  padding: 0 1.5em 0 1.5em;
}

#nav ul li {
  display: inline-block;
  text-align: center;
  padding: 0 1.5em 0 1.5em;
}

#nav ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 560;
  font-size: 0.7em;
  letter-spacing: 0.25em;
  height: 5em;
  line-height: 5em;
}

.hero {
  background: url("../images/banner.png");
  height: 500px;
}

.content {
  background: #000;
  height: 100vh;
  color: #fff;
}

ul li ul.dropdown {
  background-color: rgba(34, 40, 53, 0.25);
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
  display: none;
  position: absolute;
  padding: 1.25em 1em 1.25em 1em;
}

ul li:hover ul.dropdown {
  display: grid;
}
