* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #29383a;
}

body {
  font-family: Arial;
  background-color: #000;
  color: #fff;
  margin: 0;
  border: none;
  padding: 0;
  font-size: calc(0.625vmin + 0.75rem); /* Responsive font */
}

#nav {
  position: absolute;
  display: block;
  top: 2.5em;
  left: 0;
  width: 100%;
  text-align: center;
}

#nav .nav-border {
  display: inline-block;
  border-radius: 0.35em;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
  padding: 0 1.5em 0 1.5em;
}

#nav ul li {
  display: inline-block;
  text-align: center;
  padding: 0 1.5em 0 1.5em;
}

#nav ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 560;
  font-size: 0.7em;
  letter-spacing: 0.25em;
  height: 5em;
  line-height: 5em;
}

.hero {
  background: url("../images/banner.png");
  height: 500px;
}

.container {
  color: #fff;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 5em;
}

ul li ul.dropdown {
  background-color: rgba(34, 40, 53, 0.25);
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
  display: none;
  position: absolute;
  padding: 1.25em 1em 1.25em 1em;
}

ul li:hover ul.dropdown {
  display: grid;
}

.intro {
  display: block;
}

.intro > * {
  padding: 1rem;
  margin: 0 auto;
}

button {
  background-color: #3e5558;
  border: 2px solid #3e5558;
  border-radius: 10px;
  color: #fff;
  padding: 8px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 560;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  height: 4em;
}

@media (min-width: 768px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Flexbox parent containers */
.list,
.server > a,
.server-card {
  display: flex;
}

.list,
.server > a {
  flex-flow: row wrap;
}

.server-card {
  flex-flow: column wrap;
  justify-content: space-between;
}

/* Flexbox child items */
.server-card,
.server-description {
  flex: 1;
}

/* Flexbox spacing */
.list {
  gap: 1rem;
  list-style-type: none;
}

.server > a,
.server-card {
  gap: 0.5rem;
}

/* Sizing and Styling */
[class*="server"] {
  padding: 0.5rem;
}

.server {
  max-width: min(18.5rem, 100%);
  color: #fff;
}

.server > a {
  text-decoration: none;
  color: currentColor;
}

.server-title {
  background-color: var(--main-bg-color);
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 0.2em;
}
